@media screen and (max-width: 991px){

    .nav-toggle{
        display: block;
        margin-right: 20px;
    }

    .nav-links{
        display: none;
    }

    .examples-card{
        width: calc(50%-10px);
        height: 180px;
    }

    h3{
        font-size: 1.2rem;   
    }

    .examples-area{
        gap: 20px;
    }

    .cta-section{
        padding-block:80px;
    }

    .logos{
        justify-content: space-evenly;
        gap: 20px;
    }
    
}